<%- include("header") -%> 
<h2>This is about Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolores perspiciatis nostrum voluptates totam asperiores repellendus itaque harum quae sit necessitatibus obcaecati, alias at facere iure fugit, pariatur quam veritatis?</p>
<%- include("footer") -%> 